<html>
  <head>

    <script>
      function openModal(button, id) {
        let modal;
        let input;
        modal = document.getElementById('modal');
        input_pk = document.getElementById('input_pk');
        input_type = document.getElementById('input_type')
        input_pk.value = id;
        input_type.value = button
        if (modal.style.display === 'none') {
          modal.style.display = 'block';
        }
      }

      function closeModal() {
        let modal = document.getElementById('modal');
        modal.style.display = 'none';
      }

      function selectAll() {
        let selectAll = document.getElementById('checkbox_select_all')
        let checkboxes = document.getElementsByClassName('checkbox')
        if (selectAll.checked === true) {
          for (let i=0; i<checkboxes.length; i++) {
            checkboxes[i].checked = true;
          }
        } else {
          for (let i=0; i<checkboxes.length; i++) {
            checkboxes[i].checked = false;
          }
        }
      }

    </script>


    <title>GRACE</title>
  </head>

  <body>
    <h1>GRACE</h1>
    <table>
      <thead>
        <tr>
           <th>
             <input type='checkbox' id='checkbox_select_all' onclick='selectAll()'>Select All</input>
           </th>
           <th>Type</th>
           <th>Label</th>
           <th>Name</th>
           <th>Unique</th>
           <th></th>
           <th>Sandwiches</th>
           <th>Stop Time</th>
           <th></th>
        </tr>
      </thead>
      <tbody>
        {% if persons %}
          {% for person in persons %}
            <tr>
              <td><input type='checkbox' class='checkbox'></input></td>
              <td>{{ person.type_person }}</td>
              <td>{{ person.label }}</td>
              <td>{{ person.name }}</td>
              <td>{{ person.unique_time }}</td>
              <td>
                {% if person.eligible %}
                  <button class='button_unique' id='button_unique{{person.id}}' onclick="openModal('unique',{{person.id}})"></button>
                {% endif %}
              </td>
              <td>{{ person.sandwiches }}</td>
              <td>{{ person.stop_time }}</td>
              <td><button class='button_stop' id='button_stop{{person.id}}' onclick="openModal('stop',{{person.id}})"></button>
            </tr>
          {% endfor %}
      </tbody>
      </table>

        {% else %}

      <h1>There are no records in the system></h1>
    {% endif %}

    <div id='modal' style='display: none'>
      <button onclick='closeModal()'></button>
      <form id='form' action='/' method="POST">
        {{ form }}
        {% csrf_token %}
        <input id='input_pk' type="hidden" value="" name="pk">
        <input id='input_type' type="hidden" value="" name="type">
        <input id='input' type="submit" value="Submit"/>
      </form>
    </div>



  </body>
</html>
