<html>
  <head>

    <script>
      function openModal(button, id) {
        let modal = document.getElementById('modal');
        if (button === 'stop') {
          modal.title = 'modal_stop'+id;
        } else {
          modal.title = 'modal_unique'+id;
        }

        if (modal.style.display === 'none') {
          modal.style.display = 'block';
        }
      }

      function closeModal() {
        let modal = document.getElementById('modal');
        modal.style.display = 'none';
      }
    </script>


    <title>GRACE</title>
  </head>

  <body>
    <h1>GRACE</h1>
    <table>
      <thead>
        <tr>
           <th>
             <input type='checkbox' id='checkbox_select_all'>Select All</input>
           </th>
           <th>Type</th>
           <th>Label</th>
           <th>Name</th>
           <th>Unique</th>
           <th></th>
           <th>Sandwiches</th>
           <th>Stop Time</th>
           <th></th>
        </tr>
      </thead>
      <tbody>
        {% if persons %}
          {% for person in persons %}
            <tr>
              <td><input type='checkbox'></input></td>
              <td>{{ person.type_person }}</td>
              <td>{{ person.label }}</td>
              <td>{{ person.name }}</td>
              <td>{{ person.unique_time }}</td>
              <td>
                {% if person.eligible %}
                  <button class='button_unique' id='button_unique{{person.id}}' onclick="openModal('unique',{{person.id}})"></button>
                {% endif %}
              </td>
              <td>{{ person.sandwiches }}</td>
              <td>{{ person.stop_time }}</td>
              <td><button class='button_stop' id='button_stop{{person.id}}' onclick="openModal('stop',{{person.id}})"></button>
            </tr>
          {% endfor %}
      </tbody>
      </table>

        {% else %}

      <h1>There are no records in the system></h1>
    {% endif %}

    <div id='modal' style='display: none'>
      <button onclick='closeModal()'></button>
      <form id='form' action='/' method="POST">
        {{ form }}
        {% csrf_token %}
        <input type="submit" value="Submit" />
      </form>
    </div>



  </body>
</html>
